body {
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Roboto','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;

  background-image: url("../img/urc2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.content {
  position: absolute;
  z-index: 1;
  left: 0%;
  top: 15%;
  margin-top: 105px;
  width: 100%;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

/*#nav-main {*/
  /*background-color: #3E3E3F!important;*/
/*}*/

.content .logo {
  height: 180px;
  width: 180px;
  -webkit-filter: drop-shadow(2px 3px 5px rgba(0,0,0,0.4));
}

.content .title {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 0rem;
  font-weight: bold;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.6 );
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

/* Landscape */
@media (max-height: 500px) {
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top: 0;
  }
}
